h3 {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

input[type="text"] {
    margin-right: 15px;
    margin-top: 15px;
}

textarea {
    margin-right: 15px;
    margin-top: 15px;
}

.site {
    width: 70%;
}

.description {
    width: 70%;
}

.extended_desc {
    width: 90%;
    min-height: 200px;
}