p {
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.card-list {
    display: flex;
    background-color: gainsboro;
    border-radius: 10px;
}
