p[b-a0wig7ifc3] {
    line-height: 1.1;
}

.title[b-a0wig7ifc3] {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.subtext[b-a0wig7ifc3] {
    font-size: 16px;
    margin-bottom: 20px;
}

button[b-a0wig7ifc3] {
    width: 100px;
    font-size: 12px;
    margin-top: 12px;
}
