p[b-6h1fuh1jyh] {
    margin-bottom: 20px;
}

h3[b-6h1fuh1jyh] {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.card-list[b-6h1fuh1jyh] {
    display: flex;
    background-color: gainsboro;
    margin-top: 20px;
    border-radius: 10px;
}
