h3[b-2j42kwwwc6] {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

input[type="text"][b-2j42kwwwc6] {
    margin-right: 15px;
    margin-top: 15px;
}

textarea[b-2j42kwwwc6] {
    margin-right: 15px;
    margin-top: 15px;
}

.site[b-2j42kwwwc6] {
    width: 70%;
}

.description[b-2j42kwwwc6] {
    width: 70%;
}

.extended_desc[b-2j42kwwwc6] {
    width: 90%;
    min-height: 200px;
}